

@import "tailwindcss";  

.binary-rain {
    position: absolute;
    inset: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: 0;
}

.binary-column {
    text-shadow:0  0 4px hwb(329 73% 9% / 0.267), 0 0 10px rgba(242, 132, 189, 0.2);
    position: absolute;
    top: -100%;
    writing-mode: vertical-rl;
    font-family: monospace;
    
    font-size: 11px;
    color: rgb(244 114 182 / 0.18);
    animation: binary-fall 8s linear infinite;
    letter-spacing: -1px;
    opacity: o.35;
}
.binary-column:nth-child(4n) {
    font-size: 15px;
    opacity: 0.8;
}

.binary-column:nth-child(5n + 2) {
    font-size: 7px;
    opacity: 0.3;
}



@keyframes binary-fall {
    0% {
            transform: translate(-3x, -100%);
    }

    50% {
            transform: translate(-3px, 50%);
    }

    100% {
        transform: translate(-3px, 500%);
    }
}



